@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.animateBounceIn {
  animation: bounceIn 0.5s ease;
}


@keyframes bounceOut {
  20% {
    transform: scale(0.9);
  }
  50%,
  55% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.animateBounceOut {
  animation: bounceOut 0.5s ease;
}

.fadeInTop {
  opacity: 0;
  transform: translateY(-50px); /* Move element up initially */
  animation: fadeInTopAnimation 0.5s forwards;
}

@keyframes fadeInTopAnimation {
  from {
    opacity: 0;
    transform: translateY(-50px); /* Move element up */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Move element back to its original position */
  }
}